<template>
  <div id="panel">
    <h1>
      PANEL
    </h1>
  </div>
</template>

<script>
export default {
  name: 'Panel',
};
</script>

<style lang="scss" scoped>
#panel {
  border: 1px solid red;

  h1 {
    color: green;
  }
}
</style>
